<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">s/no</th>
        <th scope="col">Order id</th>
        <th scope="col">User id</th>
        <th scope="col">Product id</th>
        <th scope="col">image</th>
        <th scope="col">product name</th>
        <th scope="col">op</th>
        <!-- <th scope="col">produ</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of allOrders;let i=index;" (click)="orderDetails(item)">
        <th scope="row">{{i+1}}</th>
        <td>{{item._id}}</td>
        <td>{{item.user}}</td>
        <td>{{item.productid}}</td>
        <td><img style="width:120px;height:90px;" src={{item.productimage}} alt=""></td>

        <td>{{item.productname}}</td>
        <td>
          <div class="btn btn-primary">Accept</div>
        </td>



      </tr>


    </tbody>
  </table>

</div>