.container{
    display:flex;
    justify-content: center;
    margin-top: 50px;
}
.form-btn{
    display:flex;
    justify-content: center;
  
}
form{
    padding:60px;
    border:1px solid #8e8e8e;
    border-radius: 9px;
}